---
import texts from "../texts/texts";

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div class="header">
      <h1>{texts.TITLE}</h1>
      <img src="/favicon.svg" alt="Astro logo" class="astro-logo" />
    </div>
    <slot />
  </body>
</html>
<style is:global>
  :root {
    --accent: 124, 58, 237;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      #da62c4 30%,
      white 60%
    );
  }
  html {
    font-family: system-ui, sans-serif;
    background-color: #f6f6f6;
  }
  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  }

  .header {
    display: flex;
    justify-content: center;
    gap: 30px;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
  }
  .astro-logo {
      width: 100px;
    }

  @media screen and (max-width: 900px) {
    .header {
      font-size: 12px;
	  gap: 10px;
	  align-items: center;
	  text-align: center;
    }

    .astro-logo {
      width: 80px;
    }
  }

  @media screen and (max-width: 600px) {
    .header {
      flex-direction: column;
    }
    .astro-logo {
      width: 60px;
    }
  }
</style>
